:root {
  --primarri-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
header {
  border-bottom: 1px solid #ececec;
}

/* Контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
/* Логотип */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 94px;
}
.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
  padding-left: auto;
}
.logo-footer-studio {
  color: #ffffff;
}
/* Навігація сайту */
.display {
  display: flex;
  align-items: center;
}

.list-heder {
  padding: 0;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list-nav-heder {
  display: flex;
}

.list-nav-heder .item + .item {
  margin-left: 50px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primarri-text-color);
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}

.nav.current {
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
/* Контакти шапка */
.list-header-contacts {
  display: flex;
  margin-left: auto;
}

.list-header-contacts .item + .item {
  margin-left: 50px;
}

.contacontacts-header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contacontacts-header-mail:hover,
.contacontacts-header-mail:focus {
  color: var(--accent-color);
}

.contacontacts-header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contacontacts-header-tel:hover,
.contacontacts-header-tel:focus {
  color: var(--accent-color);
}
/* Основний заголовок */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 40px;
  padding: 0;
  margin: auto;
  width: 696px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)
), url(../img/baner.jpg);
  /* padding: auto; */
  margin: auto;
  text-align: center;
  max-width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.button-hero {
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  margin-top: 30px;
}

/* Особливості */
.list-aspects .list + .list {
  margin-left: 30px;
}

.list-aspects {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list-aspects .list {
  width: 270px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primarri-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.list-text-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* Список зоголовків */
.title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primarri-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.naked-work {
  margin-top: 0;
  padding-bottom: 94px;
}
.list-img-work {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list-img-work .img + .img {
  margin-left: 30px;
}
.photo-work {
  display: block;
}
/* Список працівників */

.list-worker-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-worker-container .list + .list {
  margin-left: 30px;
}

.list-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primarri-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.List-vacancies {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.photo-worker {
  display: block;
}
.team {
  background: #f5f4fa;
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* Адрес підвал */
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.list-adres {
  margin-top: 9px;
}

/* Контакти підвал */
.contacontacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.background {
  background: var(--primarri-text-color);
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts-list-heder {
  margin-top: 9px;
}
/* Портфоліо */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки фільтра */

.list-item-projects-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-item-projects-portfolio .list + .list {
  margin-left: 8px;
}

.list-botton-filtres-all {
  background: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #ffffff;
  border-radius: 4px;
  padding: 6px 25px;
  min-width: 103px;
}
.list-botton-filtres {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;

  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
}
.list-botton-filtres:hover,
.list-botton-filtres:focus {
  color: #ffffff;
}
.list-botton-filtres:hover,
.list-botton-filtres:focus {
  background: var(--accent-color);
}

/* Список проектів */
.baner-projects {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
  /* width: 1230px; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list-projects-item {
  width: 370px;
  margin-right: 30px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.list-projects-item:nth-child(3n) {
  margin-right: 0;
}
.list-projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-projects {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.list-item-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primarri-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.list-text-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.decoration-none {
  text-decoration: none;
}
